# La funcion print()

In [9]:
print('Hola desde la consola')

Hola desde la consola

# Variables

In [10]:
sum = 1 + 2 # 3
product = sum * 2
print(product)

6

# Tipo de datos

In [11]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string
type(distancia_a_alfa_centauri)

float

# Fechas

In [12]:
from datetime import date
date.today()
print(date.today())

2022-02-14

# Conversión de tipos de datos

In [13]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-14

# Entrada del usuario

In [14]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Saludos: Felipe

# Trabajar con números

In [15]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(first_number + second_number)

Calculadora
695874515

para que el codigo realice bien la suma debemos de colocar lo siguiente

In [16]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
1206089

# Construir un convertidor de unidades

In [17]:
parsec = 11
lightyears = 3.26156 * parsec

print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

11 parsec, is 35.877159999999996 lightyears